$fontFamily:"Roboto","Helvetica Neue",sans-serif !default;
$fontSize:13px !default;
$textColor:#757575 !default;
$textSecondaryColor:lighten($textColor,25%) !default;
$borderRadius:4px !default;
$dividerColor:#dee4e9 !default;
$tabletBreakpoint:991px !default;
$phoneBreakpoint:576px !default;
$animationDuration:.2s !default;
$animationTimingFunction:cubic-bezier(.05,.74,.2,.99) !default;
$transitionDuration:.4s !default;



