$darkMenuTextColor:#ffffff !default;

$iconFontSize:13px !default;
$iconWidth:16px !default;

$contentPadding:6px 12px !default;
$contentBorderColor:#c7cdd1 !default;
$contentBgColor:#ffffff !default;

$blue:#3984b8 !default;
$orange:#f6ac2b !default;
$purple:#7e8dcd !default;
$pink:#e175a0 !default;
$turquoise:#39b8b6 !default;
$green:#3eb839 !default;
$red:#e17576 !default;

@import './_layout_common.scss';