/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 abr. 2022, 09:30:09
    Author     : ORIGAMI
*/

@font-face {
    font-family: myFirstFont;
    src: url(ArianaVioleta-dz2K.ttf);
}