/* Utils */
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.card {
    @include border-radius($borderRadius);
    background: #ffffff;
    padding: 14px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.06);

    &:last-child {
      margin-bottom: 0;
    }
    
    .card-header {
      @include flex();
      @include flex-align-center();
      @include flex-justify-between();
      padding-bottom: 13px;
      h5 {
        margin-bottom: 0;
      }
    }

    .card-subtitle {
      color: $textSecondaryColor;
      font-weight: 600;
      margin: -1rem 0 1rem 0;
    } 
}

.nopad {
    padding: 0;
    
    .ui-panel-content {
        padding: 0;
    }
}

.ui-g {
  -ms-flex-wrap: wrap;
}

.ui-panelgrid {
    &.form-group {
        .ui-panelgrid-cell {
            padding: 6px;
        }
    }
}
