<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">sisapp</property>
        
        <!-- LOCALHOST -->
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/sgr_machala</property>
        <property name="hibernate.connection.password">sisapp98</property> 
        
        <!-- PRUEBAS 
        <property name="hibernate.connection.url">jdbc:postgresql://10.10.10.17:5432/sgr_machala</property>
        <property name="hibernate.connection.password">pFXzXbtqugCHXph</property> -->
        
        <!-- PRODUCCION 
        <property name="hibernate.connection.url">jdbc:postgresql://10.10.10.12:5432/sigeri</property>
        <property name="hibernate.connection.password">iUkHtEOs4ltghBM25</property> -->
        
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.max_statements">15</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.initialPoolSize">1</property>
        <property name="hibernate.c3p0.maxStatementsPerConnection">15</property>
        <property name="hibernate.c3p0.acquireRetryAttempts">5</property>
        <property name="hibernate.c3p0.idle_test_period">120</property>
        <property name="hibernate.c3p0.timeout">180</property>
        <property name="hibernate.c3p0.unreturnedConnectionTimeout">30</property>
        <property name="hibernate.c3p0.privilegeSpawnedThreads">true</property>
        <property name="hibernate.c3p0.contextClassLoaderSource">library</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ManagedSessionContext</property>
        <property name="hibernate.transaction.flush_before_completion">false</property>
        <property name="hibernate.transaction.auto_close_session">false</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.default_schema">app</property>
        <property name="hibernate.transaction.coordinator_class">jdbc</property>
        <property name="hibernate.id.disable_delayed_identity_inserts">true</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.internal.ast.ASTQueryTranslatorFactory</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.classloading.use_current_tccl_as_parent">false</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="hibernate.enhancer.enableLazyInitialization">true</property>
        <property name="hibernate.connection.isolation">2</property>

        <mapping class="com.origami.sgr.acl.entity.AclUrl"/>
        <mapping class="com.origami.sgr.acl.entity.AclUrlHasRol"/>
        <mapping class="com.origami.sgr.entities.AclLogin"/>
        <mapping class="com.origami.sgr.entities.AclRegistroUser"/>
        <mapping class="com.origami.sgr.entities.AclRol"/>
        <mapping class="com.origami.sgr.entities.AclUser"/>
        <mapping class="com.origami.sgr.entities.Entidad"/>
        <mapping class="com.origami.sgr.entities.EnteSecuencia"/>
        <mapping class="com.origami.sgr.entities.Feriados"/>
        <mapping class="com.origami.sgr.entities.GeDepartamento"/>
        <mapping class="com.origami.sgr.entities.GeTipoTramite"/>
        <mapping class="com.origami.sgr.entities.GeneracionDocs"/>
        <mapping class="com.origami.sgr.entities.OrdenFichas"/>
        <mapping class="com.origami.sgr.entities.OrdenFichasDetalle"/>
        <mapping class="com.origami.sgr.entities.CatEnte"/>
        <mapping class="com.origami.sgr.entities.CatParroquia"/>
        <mapping class="com.origami.sgr.entities.Cajero"/>
        <mapping class="com.origami.sgr.entities.CtlgCatalogo"/>
        <mapping class="com.origami.sgr.entities.CtlgCargo"/>
        <mapping class="com.origami.sgr.entities.CtlgItem"/>
        <mapping class="com.origami.sgr.entities.CtlgTipoParticipacion"/>
        <mapping class="com.origami.sgr.entities.ContenidoReportes"/>
        <mapping class="com.origami.sgr.entities.CodigosFicha"/>
        <mapping class="com.origami.sgr.entities.FichaProceso"/>
        <mapping class="com.origami.sgr.entities.FichaProcesoLinderos"/>
        <mapping class="com.origami.sgr.entities.FichaProcesoObservaciones"/>
        <mapping class="com.origami.sgr.entities.GeDepartamento"/>
        <mapping class="com.origami.sgr.entities.HistoricoTramites"/>
        <mapping class="com.origami.sgr.entities.MsgFormatoNotificacion"/>
        <mapping class="com.origami.sgr.entities.MsgTipoFormatoNotificacion"/>
        <mapping class="com.origami.sgr.entities.NprmSri"/>
        <mapping class="com.origami.sgr.entities.NprmSriCatalogo"/>
        <mapping class="com.origami.sgr.entities.NprmSriDetalle"/>
        <mapping class="com.origami.sgr.entities.Observaciones"/>
        <mapping class="com.origami.sgr.entities.PubGuiMenu"/>
        <mapping class="com.origami.sgr.entities.PubGuiMenuRol"/>
        <mapping class="com.origami.sgr.entities.PubGuiMenuTipoAcceso"/>
        <mapping class="com.origami.sgr.entities.PubGuiMenubar"/>
        <mapping class="com.origami.sgr.entities.PubSolicitud"/>
        <mapping class="com.origami.sgr.entities.PubSolicitudRequisito"/>
        <mapping class="com.origami.sgr.entities.PubSolicitudActo"/>
        <mapping class="com.origami.sgr.entities.PubSolicitudPropietarios"/>
        <mapping class="com.origami.sgr.entities.RegActo"/>
        <mapping class="com.origami.sgr.entities.RegArancel"/>
        <mapping class="com.origami.sgr.entities.RegBitacora"/>
        <mapping class="com.origami.sgr.entities.RegCapital"/>
        <mapping class="com.origami.sgr.entities.RegCertificado"/>
        <mapping class="com.origami.sgr.entities.RegCertificadoMovimiento"/>
        <mapping class="com.origami.sgr.entities.RegCertificadoMovimientoIntervinientes"/>
        <mapping class="com.origami.sgr.entities.RegCertificadoMovimientoReferencias"/>
        <mapping class="com.origami.sgr.entities.RegCertificadoPropietario"/>
        <mapping class="com.origami.sgr.entities.RegDomicilio"/>
        <mapping class="com.origami.sgr.entities.RegEnteInterviniente"/>
        <mapping class="com.origami.sgr.entities.RegEnteJudiciales"/>
        <mapping class="com.origami.sgr.entities.RegFicha"/>
        <mapping class="com.origami.sgr.entities.RegFichaLinderos"/>
        <mapping class="com.origami.sgr.entities.RegFichaMarginacion"/>
        <mapping class="com.origami.sgr.entities.RegFichaPropietarios"/>
        <mapping class="com.origami.sgr.entities.RegLibro"/>
        <mapping class="com.origami.sgr.entities.RegMovimiento"/>
        <mapping class="com.origami.sgr.entities.RegMovimientoCapital"/>
        <mapping class="com.origami.sgr.entities.RegMovimientoCliente"/>
        <mapping class="com.origami.sgr.entities.RegMovimientoFicha"/>
        <mapping class="com.origami.sgr.entities.RegMovimientoMarginacion"/>
        <mapping class="com.origami.sgr.entities.RegMovimientoParticipante"/>
        <mapping class="com.origami.sgr.entities.RegMovimientoReferencia"/>
        <mapping class="com.origami.sgr.entities.RegMovimientoRepresentante"/>
        <mapping class="com.origami.sgr.entities.RegMovimientoSocios"/>
        <mapping class="com.origami.sgr.entities.RegMovimientoFile"/>
        <mapping class="com.origami.sgr.entities.RegPapel"/>
        <mapping class="com.origami.sgr.entities.RegRegistrador"/>
        <mapping class="com.origami.sgr.entities.RegRequisitos"/>
        <mapping class="com.origami.sgr.entities.RegRequisitosActos"/>
        <mapping class="com.origami.sgr.entities.RegTablaCuantia"/>
        <mapping class="com.origami.sgr.entities.RegTablaCuantiaDeterminada"/>
        <mapping class="com.origami.sgr.entities.RegTipoActo"/>
        <mapping class="com.origami.sgr.entities.RegTipoCobroActo"/>
        <mapping class="com.origami.sgr.entities.RegTipoFicha"/>
        <mapping class="com.origami.sgr.entities.RegTipoLindero"/>
        <mapping class="com.origami.sgr.entities.RegpCorreccion"/>
        <mapping class="com.origami.sgr.entities.RegpCorreccionDetalles"/>
        <mapping class="com.origami.sgr.entities.RegpDocsTarea"/>
        <mapping class="com.origami.sgr.entities.RegpDocsTramite"/>
        <mapping class="com.origami.sgr.entities.RegpEstadoCorreccion"/>
        <mapping class="com.origami.sgr.entities.RegpEstadoLiquidacion"/>
        <mapping class="com.origami.sgr.entities.RegpEstadoPago"/>
        <mapping class="com.origami.sgr.entities.RegpExoneracion"/>
        <mapping class="com.origami.sgr.entities.RegpIntervinientes"/>
        <mapping class="com.origami.sgr.entities.RegpLiquidacion"/>
        <mapping class="com.origami.sgr.entities.RegpLiquidacionDetalles"/>
        <mapping class="com.origami.sgr.entities.RegpDetalleExoneracion"/>
        <mapping class="com.origami.sgr.entities.RegpLiquidacionExoneracion"/>
        <mapping class="com.origami.sgr.entities.RegpObservacionesIngreso"/>
        <mapping class="com.origami.sgr.entities.RegpRespuestaJudicial"/>
        <mapping class="com.origami.sgr.entities.RegpTareasDinardap"/>
        <mapping class="com.origami.sgr.entities.RegpTareasDinardapDocs"/>
        <mapping class="com.origami.sgr.entities.RegpTareasTramite"/>
        <mapping class="com.origami.sgr.entities.RenCajero"/>
        <mapping class="com.origami.sgr.entities.RenDatosFacturaElectronica"/>
        <mapping class="com.origami.sgr.entities.RenEntidadBancaria"/>
        <mapping class="com.origami.sgr.entities.RenFactura"/>
        <mapping class="com.origami.sgr.entities.RenFacturaAnulada"/>
        <mapping class="com.origami.sgr.entities.RenNotaCredito"/>
        <mapping class="com.origami.sgr.entities.RenPago"/>
        <mapping class="com.origami.sgr.entities.RenPagoDetalle"/>
        <mapping class="com.origami.sgr.entities.RenPagoRubro"/>
        <mapping class="com.origami.sgr.entities.RenTipoEntidadBancaria"/>
        <mapping class="com.origami.sgr.entities.SecuenciaComprobantes"/>
        <mapping class="com.origami.sgr.entities.SecuenciaGeneral"/>
        <mapping class="com.origami.sgr.entities.SecuenciaInscripcion"/>
        <mapping class="com.origami.sgr.entities.SecuenciaRepertorio"/>
        <mapping class="com.origami.sgr.entities.SecuenciaRepertorioMercantil"/>
        <mapping class="com.origami.sgr.entities.SecuenciaTramite"/>
        <mapping class="com.origami.sgr.entities.ServicioExterno"/>
        <mapping class="com.origami.sgr.entities.TarTareasAsignadas"/>
        <mapping class="com.origami.sgr.entities.TarUsuarioTareas"/>
        <mapping class="com.origami.sgr.entities.UafNacionalidad"/>
        <mapping class="com.origami.sgr.entities.UafTipoBien"/>
        <mapping class="com.origami.sgr.entities.UafUsuarios"/>
        <mapping class="com.origami.sgr.entities.UafRolInterv"/>
        <mapping class="com.origami.sgr.entities.UafPapelInterv"/>
        <mapping class="com.origami.sgr.entities.UafTra"/>
        <mapping class="com.origami.sgr.entities.UafInt"/>
        <mapping class="com.origami.sgr.entities.UafTramite"/>
        <mapping class="com.origami.sgr.entities.Valores"/>
        <mapping class="com.origami.sgr.entities.RegpNotaDevolutiva"/>
        <mapping class="com.origami.sgr.entities.RegpPronunciamientoJuridico"/>
        <mapping class="com.origami.sgr.entities.PubSolicitudJuridico"/>
        <mapping class="com.origami.sgr.entities.Barrios"/>
        <mapping class="com.origami.sgr.entities.ConvenioBanco"/>
        <mapping class="com.origami.sgr.entities.UsuariosApp"/>
        <mapping class="com.origami.sgr.entities.FirmaElectronica"/>
        <mapping class="com.origami.sgr.entities.Cargo"/>
        <mapping class="com.origami.sgr.entities.DocumentoFirma"/>
        <mapping class="com.origami.sgr.entities.Servicio"/>
        <mapping class="com.origami.sgr.entities.ServicioTipo"/>
        <mapping class="com.origami.sgr.entities.ServicioRequisito"/>
        <mapping class="com.origami.sgr.entities.TipoContribuyentes"/>
        <mapping class="com.origami.sgr.entities.DepartamentoUsuario"/>
        <mapping class="com.origami.mail.entities.Correo"/>
        <mapping class="com.origami.mail.entities.CorreoUsuarios"/>
        <mapping class="com.origami.mail.entities.CorreoCargas"/>
        <mapping class="com.origami.sgr.views.TareasActivas"/>
        <mapping class="com.origami.sgr.entities.FirmaElectronica"/>
        
    </session-factory>
</hibernate-configuration>
